[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
fushuma = "https://rpc.fushuma.com"

[etherscan]
fushuma = { key = "${FUSHUMA_EXPLORER_API_KEY}", url = "https://explorer.fushuma.com/api" }

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
